.skills {
  font-size: 35px;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 8;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

  padding: 2rem;
}

.skills h1 {
  color: var(--theme-color);
  text-align: center;
}


.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  z-index: 8;
}

.container h4 {
  font-family: var(--theme-font);
  font-weight: 400;
  color: rgb(50, 116, 202);
}

/* ================icon styles start========================== */

.top-expertise-left {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
  z-index: 8;
  border: 1px dashed var(--theme-color);
  padding: 1rem;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.icon-holder {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
  padding: 1rem;
}

.logo {
  height: 48px;
  width: 48px;
  display: block;
  transition: transform .2s;
  margin: 10px;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.rounded {
  border-radius: 50%;
}

.java {
  background-image: url("../assets/logos/icons8-java-48.png");
}

.spring {
  background-image: url("../assets/logos/icons8-spring-boot-80.png");
}

.react {
  background-image: url("../assets/logos/react-logo.png");
}


.aws-clfc01 {
  background-image: url('../assets/logos/aws-certified-cloud-practitioner.png');
}

.docker {
  background-image: url("../assets/logos/icons8-docker-48.png");
}

.ansible {
  background-image: url("../assets/logos/icons8-ansible-48.png");
}

.terraform {
  background-image: url("../assets/logos/icons8-terraform-48.png");
}

.python {
  background-image: url("../assets/logos/icons8-python-48.png");
}

.javascript {
  background-image: url("../assets/logos/icons8-javascript-48.png");
}



/* ================icon styles end========================== */


/* ===========Tooltip styles starts================ */
.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  font-size: 0.7rem;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* ==============tooltip styles end===================== */


/* ======================Media Queries================== */
@media only screen and (max-width: 1260px) {
  .skills {
    text-align: center;
  }

  .skills h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 900px) {

  .skills {
    text-align: center;
  }

  .skills h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 600px) {

  .skills {
    text-align: center;
  }


  .skills h2 {
    font-size: 30px;
  }
}